<div class="container" [formGroup]="Fg">

  <mat-form-field>
    <input matInput formControlName="title" placeholder="Title">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="type" placeholder="Type">
  </mat-form-field>

  <mat-form-field>
      <input matInput formControlName="artist" placeholder="Artist">
  </mat-form-field>

  <mat-form-field>
      <input matInput formControlName="label" placeholder="Label">
  </mat-form-field>

  <mat-form-field>
      <input matInput formControlName="releaseDate" placeholder="Release Date">
  </mat-form-field>
  <mat-error *ngIf="Fg.get('releaseDate').hasError('pattern')">
    Please enter in yyyy/mm/dd
   </mat-error>

  <mat-form-field>
      <input matInput formControlName="asin" placeholder="ASIN">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="qtyInStock" placeholder="Quantity">
  </mat-form-field>
  <mat-error *ngIf="Fg.get('qtyInStock').hasError('min') || Fg.get('qtyInStock').hasError('pattern')" >
    Please enter a positive integer
  </mat-error>
</div>
<button color="primary"  mat-raised-button (click) = "addmusic()">
            Add Music
</button>
