.row
{
    display: table;
    table-layout: fixed;
    border-spacing: 10px;
    width:100%;
}
.col
{
    display: table-cell;
    width: 10%;
}

.col-middle
{
    display: table-cell;
    width: 80%;
    text-align: center;
}

div * {
    text-align: center;
    vertical-align: middle;
}

.content {
    display: inline-block
}


