<div>
        <table *ngIf="item.catalogItem.itemType == 'Book'">
                <tr>
                    <th>Title: </th>
                    <th>{{item.catalogItem.title}}</th>
                </tr>
                <tr>
                    <th>Author: </th>
                    <th>{{item.catalogItem.author}}</th>
                </tr>
                <tr>
                    <th>Format: </th>
                    <th>{{item.catalogItem.format}}</th>
                </tr>
                <tr>
                    <th>Pages: </th>
                    <th>{{item.catalogItem.pages}}</th>
                </tr>
                <tr>
                    <th>Publisher: </th>
                    <th>{{item.catalogItem.publisher}}</th>
                </tr>
                <tr>
                    <th>Year of Publication: </th>
                    <th>{{item.catalogItem.yearOfPublication}}</th>
                </tr>
                <tr>
                    <th>Language: </th>
                    <th>{{item.catalogItem.language}}</th>
                </tr>
                <tr>
                    <th>ISBN10: </th>
                    <th>{{item.catalogItem.isbn10}}</th>
                </tr>
                <tr>
                    <th>ISBN13: </th>
                    <th>{{item.catalogItem.isbn13}}</th>
                </tr>
            </table>

            <table *ngIf="item.catalogItem.itemType == 'Music'">
                <tr>
                    <th>Title: </th>
                    <th>{{item.catalogItem.title}}</th>
                </tr>
                <tr>
                    <th>Type: </th>
                    <th>{{item.catalogItem.type}}</th>
                </tr>
                <tr>
                    <th>Artist: </th>
                    <th>{{item.catalogItem.artist}}</th>
                </tr>
                <tr>
                    <th>Label: </th>
                    <th>{{item.catalogItem.label}}</th>
                </tr>
                <tr>
                    <th>Release Date: </th>
                    <th>{{item.catalogItem.releaseDate}}</th>
                </tr>
                <tr>
                    <th>ASIN: </th>
                    <th>{{item.catalogItem.asin}}</th>
                </tr>
            </table>

            <table *ngIf="item.catalogItem.itemType == 'Movie'">
                <tr>
                    <th>Title: </th>
                    <th>{{item.catalogItem.title}}</th>
                </tr>
                <tr>
                    <th>Director: </th>
                    <th>{{item.catalogItem.director}}</th>
                </tr>
                <tr>
                    <th>Actors: </th>
                    <th>{{item.catalogItem.actors}}</th>
                </tr>
                <tr>
                    <th>Producers: </th>
                    <th>{{item.catalogItem.producers}}</th>
                </tr>
                <tr>
                    <th>Language: </th>
                    <th>{{item.catalogItem.language}}</th>
                </tr>
                <tr>
                    <th>Subtitles: </th>
                    <th>{{item.catalogItem.subtitles}}</th>
                </tr>
                <tr>
                    <th>Dubs: </th>
                    <th>{{item.catalogItem.dubs}}</th>
                </tr>
                <tr>
                    <th>Release Date: </th>
                    <th>{{item.catalogItem.releaseDate}}</th>
                </tr>
                <tr>
                    <th>Runtime: </th>
                    <th>{{item.catalogItem.runTime}}</th>
                </tr>
            </table>
    <button mat-button (click)="removeItem()">Remove</button>
</div>