/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body
{
    font-family:Roboto;
    background-image: url("library.jpg");
    background-repeat: no-repeat;
    background-size: 170%;
}

h1
{
    text-align:center;
}


