<div>
  <h1> Welcome </h1>

  <mat-form-field>
    <input matInput placeholder="Book Name" [(ngModel)] ="bookName" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" [(ngModel)] ="password">
  </mat-form-field>
  <button mat-button (click)="get()"> Get </button>
  <button mat-button (click)="post(this.bookName)"> Post </button>
  <!-- <button mat-button (click)="put()"> Put </button> -->
  <button mat-button (click)="delete(this.bookName)"> Delete </button>
  </div>
  <div>
    <ul>
      Book name
      <li *ngFor="let book of this.bookArray">
        {{ book.name }}
      </li>
      </ul>
  </div>
  