<!--component html goes here -->
<div class="container" *ngIf="edit" [formGroup]="form">
    <mat-form-field>
        <input matInput formControlName="titles" placeholder="Title">
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="artist" placeholder="Artist">
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="releaseDate" placeholder="Release Date">
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="type" placeholder="Type">
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="label" placeholder="Label">
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="asin" placeholder="asin">
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="qtyInStock" placeholder="Quantity In Stock">
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="qtyOnLoan" placeholder="Quantity On Loan">
    </mat-form-field>

        </div>

<button mat-button *ngIf="!edit" (click)="editMode()"> Edit</button>
<button mat-button *ngIf="edit" (click)="saveMusic()">Save</button>

