
<div class="container" [formGroup]="form">

    <mat-form-field>
      <input matInput formControlName="title" placeholder="Title">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="director" placeholder="Director">
    </mat-form-field>
    <br>

  <mat-form-field>
    <input matInput formControlName="language" placeholder="Language">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="releaseDate" placeholder="Release Date">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="runTime" placeholder="Run Time">
  </mat-form-field>
  <br>

    <mat-form-field class="producer-chip-list">
      <mat-chip-list #producerChipList>
        <mat-chip *ngFor="let producer of producers" [selectable]="selectable" [removable]="removable" (removed)="removeProducer(producer)">
          {{producer}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input matInput formControlName="producers" placeholder="Producers"
               [matChipInputFor]="producerChipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="addProducer($event)">
      </mat-chip-list>
    </mat-form-field>
    <!--<input matInput formControlName="producers" placeholder="Producers">-->
        <!--<mat-hint>Use (,) to separate between the names of different producers</mat-hint>-->
    <!--</mat-form-field>-->

    <br>

      <mat-form-field class="actor-chip-list">
        <mat-chip-list #actorChipList>
          <mat-chip *ngFor="let actor of actors" [selectable]="selectable" [removable]="removable" (removed)="removeActor(actor)">
            {{actor}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Actors"
                 [matChipInputFor]="actorChipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="addActor($event)">
        </mat-chip-list>
      </mat-form-field>

        <!--<input matInput formControlName="actors" placeholder="Actors">-->
        <!--<mat-hint>Use (,) to separate between the names of different actors</mat-hint>-->
    <!--</mat-form-field>-->

    <br>
  <br>

  <mat-form-field class="subtitle-chip-list">
    <mat-chip-list #subtitleChipList>
      <mat-chip *ngFor="let sub of subtitles" [selectable]="selectable" [removable]="removable" (removed)="removeSubtitle(sub)">
        {{sub}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Subtitles"
             [matChipInputFor]="subtitleChipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="addSubtitle($event)">
    </mat-chip-list>
  </mat-form-field>

    <!--<mat-form-field>-->
        <!--<input matInput formControlName="subtitles" placeholder="Subtitles">-->
        <!--<mat-hint>Use (,) to separate between the different Subtitles languages</mat-hint>-->
    <!--</mat-form-field>-->

  <br>
  <mat-form-field class="dub-chip-list">
    <mat-chip-list #dubChipList>
      <mat-chip *ngFor="let dub of dubs" [selectable]="selectable" [removable]="removable" (removed)="removeDub(dub)">
        {{dub}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Dubs"
             [matChipInputFor]="dubChipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="addDub($event)">
    </mat-chip-list>
  </mat-form-field>

    <!--<mat-form-field>-->
        <!--<input matInput formControlName="dubs" placeholder="Dubbed">-->
        <!--<mat-hint>Use (,) to separate between the different dubbed languages</mat-hint>-->
    <!--</mat-form-field>-->

    <br>

  </div>
  <div>
  <button color="primary"  mat-raised-button (click) = "addMovie()">
              Add Movie
  </button>
  </div>
