<div>
    
        <h1> Register a User </h1>

        <div class = "form">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <table><tr>
                        <td><mat-form-field>
                          <input matInput placeholder="First name" formControlName="firstName">
                        </mat-form-field></td>
                        <td><mat-form-field>
                          <input matInput placeholder="Last Name" formControlName="lastName">
                        </mat-form-field></td>
                      </tr></table>
                      <p>
                        <mat-form-field>
                          <input matInput placeholder="Phone Number" formControlName="phone">
                        </mat-form-field>
                        <mat-form-field>
                          <input matInput placeholder="Email Address"  formControlName="email" >
                        </mat-form-field>
                      </p>
                    
                      <table cellspacing="0"><tr>
                        
                        <td><mat-form-field appereance="fill">
                        <input matInput placeholder="Address" formControlName="address" >
                      </mat-form-field></td>

                        <td><mat-form-field>
                          <input matInput placeholder="City" formControlName="city">
                        </mat-form-field></td>

                        <td><mat-form-field>
                                <input matInput placeholder="Province/State" formControlName="provState">
                            </mat-form-field></td>

                          </tr>  <tr>

                        <td><mat-form-field>
                          <input matInput placeholder="Country" formControlName="country">
                        </mat-form-field></td>

                        <td><mat-form-field>
                          <input matInput placeholder="Postal Code" formControlName="postal">
                        </mat-form-field></td>
                      </tr></table>
                      <div class="registerButton">
                      <button type = "submit" mat-button> Register! </button>
                </div>
                </form>

        </div>


    
</div>