<div>
    
        <h1> Register a User </h1>

        <div class = "form">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <table><tr>
                        <td><mat-form-field>
                          <input matInput placeholder="First name" type = "text"  name = "firstName" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" required>
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                        </mat-form-field></td>
                        <td><mat-form-field>
                          <input matInput placeholder="Last Name"   name = "lastName" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"  required>
                          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        </div>
                        </mat-form-field></td>
                      </tr></table>
                      <p>
                        <mat-form-field>
                          <input matInput placeholder="Phone Number" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"  name = "phone" required>
                        </mat-form-field>
                        <mat-form-field>
                          <input matInput placeholder="Email Address"  name = "email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
                          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                        </mat-form-field>
                      </p>
                    
                      <table cellspacing="0"><tr>
                        
                        <td><mat-form-field appereance="fill">
                        <input matInput placeholder="Address" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"  name = "address" required>
                        </mat-form-field></td>

                        <td><mat-form-field>
                          <input matInput placeholder="City" formControlName="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }"  name = "city" required>
                        </mat-form-field></td>

                        <td><mat-form-field>
                                <input matInput placeholder="Province/State" formControlName="provState" [ngClass]="{ 'is-invalid': submitted && f.provState.errors }"  name = "prov" required>
                        </mat-form-field></td>

                        <td><mat-form-field>
                          <input matInput placeholder="Country" formControlName="country" [ngClass]="{ 'is-invalid': submitted && f.country.errors }" name = "country" required>
                        </mat-form-field></td>

                        <td><mat-form-field>
                          <input matInput placeholder="Postal Code" formControlName="postal" [ngClass]="{ 'is-invalid': submitted && f.postal.errors }"  name = "postal" required>
                        </mat-form-field></td>
                      </tr></table>
                      <div class="registerButton">
                      <button type = "submit" mat-button> Register! </button>
                </div>
                </form>

        </div>


    
</div>