<div class="container" [formGroup]="form">
  <mat-form-field>
    <input matInput formControlName="title" placeholder="Title">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="publisher" placeholder="Publisher">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="dateOfPublication" placeholder="Date of Publication">
  </mat-form-field>
  <mat-error *ngIf="form.get('dateOfPublication').hasError('pattern')">
    Please enter in yyyy/mm/dd
   </mat-error>

  <mat-form-field>
    <input matInput formControlName="language" placeholder="Language">
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="isbn10" placeholder="ISBN-10">
  </mat-form-field>
  <mat-error *ngIf="form.get('isbn10').hasError('minlength') || form.get('isbn10').hasError('maxlength') || form.get('isbn10').hasError('pattern')">
    Please enter a valid ISBN10
   </mat-error>

  <mat-form-field>
    <input matInput formControlName="isbn13" placeholder="ISBN-13">
  </mat-form-field>
  <mat-error *ngIf="form.get('isbn13').hasError('minlength') || form.get('isbn13').hasError('maxlength') || form.get('isbn13').hasError('pattern')">
    Please enter a valid ISBN13
   </mat-error>
</div>

<button color="primary" [disabled]="form.pristine" mat-raised-button (click) = "addMagazine()">
  Add
</button>
