.navbar {
  width: 165px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  background-color: #eed;
  padding-top: 30px;
  padding-left: 5px;
  
}

.text{
  font-weight: 500
}

.green-icon {
  color: green;
}
