<div *ngIf="element">
    <div class = "title" >{{element.title}}</div>
    <div>
          <tr>
              <th>{{element.qtyInStock}} in Stock </th>
              <th>{{element.qtyOnLoan}} on Loan </th>
              <th *ngIf = "element.qtyInStock == 0">✘</th>
              <th *ngIf = "element.qtyInStock > 0">✔</th>            
          </tr>
      </div>

      <img src="assets/music.jpg" alt="Music" height = "200px"> 

<table *ngIf="element.itemType == 'Music'">
  
  <tr>
      <th>Type: </th>
      <th>{{element.type}}</th>
  </tr>
  <tr>
    <th>Artist: </th>
    <th>{{element.artist}}</th>
  </tr>
  <tr>
    <th>Label: </th>
    <th>{{element.label}}</th>
  </tr>
  <tr>
      <th>Release Date: </th>
      <th>{{element.releaseDate}}</th>
  </tr>
  <tr>
      <th>ASIN: </th>
      <th>{{element.asin}}</th>
  </tr>
  <tr>
    <th> <update-music *ngIf = "isAdmin()" [music]="element" (messageEvent)="receiveSaveMessage($event)"></update-music> </th>
    <th> <delete-item *ngIf = "isAdmin()" [element]="element" (messageEvent)="receiveDeleteMessage($event)"></delete-item>  </th>
  </tr>
</table>

</div>
