<mat-toolbar class="toolbar" [ngClass]="{'toggled': isToggle()}">
  <span [hidden]="!isAdmin()"><button mat-button (click)="toggle()"><mat-icon>menu</mat-icon></button></span>
  <span><button mat-button (click)="redirectHome()"> Home </button> </span>
  <span class="remaining-space"></span>
  <span [hidden]="!authenticated()"><button mat-button (click)="redirectCatalogPage()"> Open Catalog </button></span>
  <span [hidden]= "!isAdmin()"><button mat-button (click)="redirectToAddPage()"> Add </button></span>
  <span [hidden]="!isAdmin()"><button mat-button (click)="redirectRegistrationPage()"> Register a User </button></span>
  <span [hidden]="!isAdmin()"><button mat-button (click)="redirectToPromote()">Promote User</button></span>
  <span [hidden]="authenticated()"><button mat-button (click)="openDialog()">Login</button></span>
  <span [hidden]="!authenticated() || isAdmin()" ><button mat-button><mat-icon matBadge="22" matBadgePosition="above after" (click)="redirectToCart()">shopping_cart</mat-icon> </button></span>
  <span [hidden]="!authenticated()"><button mat-button (click)="logout()">Logout</button></span>
</mat-toolbar>
