<app-search></app-search>
<div class = "view-box">
    <h3>
        <mat-icon>sort</mat-icon>
        &nbsp;&nbsp;View Catalog as
    </h3>
        <div>
            <button mat-button (click)="redirectBookPage()"> Books</button>
            <button mat-button (click)="redirectMagazinesPage()"> Magazines </button>
            <button mat-button (click)="redirectMoviesPage()"> Movies </button>
            <button mat-button (click)="redirectMusicPage()"> Music</button>
        </div>
</div>

<div>

<table mat-table [dataSource]="dataSource" *ngIf="isLoaded" multiTemplateDataRows matSort class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay;">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
    <td mat-cell *matCellDef="let element;"> {{element[column]}}{{i}}</td>
  </ng-container>


  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay;" ></tr>
  <tr mat-row *matRowDef="let element; let i = index; columns: columnsToDisplay;"
      class="example-element-row" (click)="moreDetails(element, i)"
      [class.example-expanded-row]="expandedElement === element"
      >
  </tr>

</table>
</div>

<mat-paginator *ngIf="isLoaded" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<div *ngIf="!isLoaded">
    <mat-card *ngIf="!isLoaded" style="display: flex; justify-content: center; align-items: center">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
      {{message}}
    </mat-card>
    <!-- <div style="position:relative; top: -20px; left: 390px;">
        {{message}}
    </div> -->
</div>
